@page
@model Todo.Pages.Todos.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<hr />

<div class="row">
    <div class="col-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Todos.Id" />

            <div class="form-group">
                <label asp-for="Todos.Title" class="control-label"></label>
                <input asp-for="Todos.Title" class="form-control" />
                <span asp-validation-for="Todos.Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Todos.Description" class="control-label"></label>
                <input asp-for="Todos.Description" class="form-control" />
                <span asp-validation-for="Todos.Description" class="text-danger"></span>
            </div>
            <div class="form-group ">
                <label asp-for="Todos.IsCompleted" class="control-label"></label>
                <input asp-for="Todos.IsCompleted" class="form-control form-check-input" />
                <span asp-validation-for="Todos.IsCompleted" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Todos.DueDate" class="control-label"></label>
                <input asp-for="Todos.DueDate" class="form-control" />
                <span asp-validation-for="Todos.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <a asp-page="./Index" class="btn btn-danger">Back</a>
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}